.wrap {
    max-width: 800px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba($backgroundDarkLighter, 0.2);
    header {
        position: relative;
        .burger-wrap {
            position: absolute;
            top: 2em;
            right: 2em;
        }
    }
    .container {
        width: 100%;
        max-width: 800px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        .project {
            width: 90%;
            height: 75px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: rgba($backgroundDarkLighter, 0.6);
            border-radius: 10px;
            margin-bottom: 5px;
            .photo-wrap {
                height: 50px;
                width: 50px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                    &:hover {
                        @include transition-ease;
                        transform: scale(1.8);
                    }
                }
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@include media-sd {}