a {
  text-decoration: none;
  color: #292929;
  font-size: 1.0rem;
}

a:hover {
  color: #1f4a6c;
}

h1 {
  font-size: 1.2rem;
}

img {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(16, 16, 34, 0.753);
          box-shadow: inset 0 0 5px rgba(16, 16, 34, 0.753);
  border-radius: 1000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(113, 127, 247, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 152, 179, 0.2);
}

.header {
  z-index: 5000;
  width: 100%;
  height: 10vh;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .header-wrap .burger-wrap {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 5em;
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
}

.header .header-wrap .burger-wrap .burger {
  width: 38px;
  height: 7px;
  background-color: #292929;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.header .header-wrap .burger-wrap .burger::before {
  content: "";
  width: 38px;
  height: 7px;
  background-color: #292929;
  border-radius: 2px;
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 13px;
}

.header .header-wrap .burger-wrap .burger::after {
  content: "";
  width: 38px;
  height: 7px;
  background-color: #292929;
  border-radius: 2px;
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: -13px;
}

.header .header-wrap .burger-wrap .burger.open {
  -webkit-transform: rotate(1080deg);
          transform: rotate(1080deg);
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header-wrap .burger-wrap .burger.open::before {
  -webkit-transform: rotate(-45deg) translate(5px, -14px);
          transform: rotate(-45deg) translate(5px, -14px);
  width: 41px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(31, 74, 108, 0.7)), color-stop(rgba(234, 248, 255, 0.9)), to(rgba(31, 74, 108, 0.7)));
  background: linear-gradient(to right, rgba(31, 74, 108, 0.7), rgba(234, 248, 255, 0.9), rgba(31, 74, 108, 0.7));
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header-wrap .burger-wrap .burger.open::after {
  width: 41px;
  -webkit-transform: rotate(45deg) translate(3px, 14px);
          transform: rotate(45deg) translate(3px, 14px);
  background: -webkit-gradient(linear, left top, right top, from(rgba(31, 74, 108, 0.7)), color-stop(rgba(234, 248, 255, 0.9)), to(rgba(31, 74, 108, 0.7)));
  background: linear-gradient(to right, rgba(31, 74, 108, 0.7), rgba(234, 248, 255, 0.9), rgba(31, 74, 108, 0.7));
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header-wrap .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.93;
  visibility: hidden;
}

.header .header-wrap .nav.open {
  visibility: visible;
}

.header .header-wrap .nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #292929;
  list-style: none;
  padding-right: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header .header-wrap .nav .nav-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header .header-wrap .nav .nav-menu .items {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header-wrap .nav .nav-menu .items.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .header-wrap .nav .nav-menu .items.active > a {
  color: #1f4a6c;
}

.header .header-wrap .nav .nav-menu .items .link {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem 0 0rem 1.5rem;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #eaf8ff;
  pointer-events: all;
}

.header .header-wrap .nav .nav-menu .items .link:hover {
  color: #1f4a6c;
}

.header .header-wrap .nav-menu .items:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.header .header-wrap .nav-menu .items:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.header .header-wrap .nav-menu .items:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.header .header-wrap .nav-menu .items:nth-child(4) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.header .header-wrap .nav-menu .items:nth-child(5) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.header .header-wrap .nav-menu .items:nth-child(6) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

@media screen and (min-width: 600px) {
  main .header {
    text-shadow: 1px 1px 1px rgba(234, 248, 255, 0.8);
  }
  main .header .header-wrap .burger-wrap {
    display: none;
  }
  main .header .header-wrap .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: visible;
    width: 100%;
    height: 20vh;
  }
  main .header .header-wrap .nav .nav-menu {
    background: transparent;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
    max-width: 1000px !important;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  main .header .header-wrap .nav .nav-menu .items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  main .header .header-wrap .nav .nav-menu .items .link {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 758px) {
  main .header {
    text-shadow: 1px 1px 1px rgba(234, 248, 255, 0.8);
  }
  main .header .header-wrap .burger-wrap {
    display: none;
  }
  main .header .header-wrap .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: visible;
    width: 100%;
    height: 20vh;
  }
  main .header .header-wrap .nav .nav-menu {
    background: transparent;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
    max-width: 1000px !important;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  main .header .header-wrap .nav .nav-menu .items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  main .header .header-wrap .nav .nav-menu .items .link {
    font-size: 1.9rem;
  }
}

.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, rgba(234, 248, 255, 0.2), rgba(31, 74, 108, 0.2)), url(../primery-images/jacob-reception.jpg) center top;
  background-size: cover;
}

.contact h2 {
  color: rgba(41, 41, 41, 0.5);
  text-shadow: 1px 1px 1px rgba(31, 74, 108, 0.5);
  font-size: 3rem;
  margin: 2rem 0;
}

.contact .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 2rem;
  font-weight: 900;
  color: rgba(41, 41, 41, 0.8);
  text-shadow: 1px 1px 1px rgba(31, 74, 108, 0.7);
}

.contact .list .email {
  cursor: pointer;
}

.contact .list .email:hover {
  color: rgba(41, 41, 41, 0.6);
}

.contact .list .email:hover .icon {
  color: rgba(31, 74, 108, 0.9);
}

.contact .list .icon {
  color: #eaf8ff;
  padding-right: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.9);
  height: 100%;
  width: 100%;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal.open {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal .modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-box .modal-body {
  position: relative;
  text-align: center;
  width: 40vw;
  height: 70vh;
  background: linear-gradient(65deg, rgba(234, 248, 255, 0.7), rgba(31, 74, 108, 0.7));
  -webkit-box-shadow: 2px -2px 2px 2px rgba(234, 248, 255, 0.3);
          box-shadow: 2px -2px 2px 2px rgba(234, 248, 255, 0.3);
}

.modal .modal-box .modal-body h2 {
  padding-top: 0.5em;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  left: 10%;
}

.modal .modal-box .modal-body form {
  position: absolute;
  top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-box .modal-body form .form-group {
  width: 100%;
  padding: 0.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal .modal-box .modal-body form .form-group input,
.modal .modal-box .modal-body form .form-group textarea {
  width: 90%;
  height: 3em;
  border: 2px solid transparent;
  border-radius: 3px;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 1.1rem;
}

.modal .modal-box .modal-body form .form-group input:focus,
.modal .modal-box .modal-body form .form-group textarea:focus {
  background-color: #eaf8ff;
  border: 2px solid rgba(31, 74, 108, 0.5);
}

.modal .modal-box .modal-body form .form-group .icon {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
}

.modal .modal-box .modal-body form .form-group .disabled {
  pointer-events: none;
  opacity: 0.7;
}

.modal .modal-box .modal-body form .btn-container {
  width: 100%;
  margin: auto;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-box .modal-body form .btn-container button {
  width: 90%;
  height: 2em;
  margin: auto;
  border: 2px solid transparent;
  border-radius: 3px;
  background: rgba(234, 248, 255, 0.3);
  cursor: pointer;
}

.modal .modal-box .modal-body form .btn-container button:hover {
  border-color: rgba(41, 41, 41, 0.5);
  border-radius: 3px;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal .modal-box .modal-body form .btn-container span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
  margin-right: 10px;
  padding: 1px 10px;
}

.modal .modal-box .modal-body .modal-footer {
  width: 10vw;
  right: 0.5em;
  top: 10px;
  position: absolute;
}

.modal .modal-box .modal-body .modal-footer .close-btn {
  padding: 4px 8px;
  background-color: rgba(234, 248, 255, 0.7);
  border-radius: 1000px;
  cursor: pointer;
  border: 1px solid transparent;
}

.modal .modal-box .modal-body .modal-footer .close-btn:hover {
  opacity: 0.5;
  border-color: rgba(234, 248, 255, 0.7);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(41, 41, 41, 0.5);
          box-shadow: 1px 1px 1px 1px rgba(41, 41, 41, 0.5);
}

@media screen and (max-width: 599px) {
  .contact h2 {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .contact .list {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .contact .list .icon {
    color: #eaf8ff;
    padding-right: 5px;
  }
  .modal .modal-box .modal-body {
    width: 98%;
    margin: auto;
  }
}

.section-wrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 15vh;
}

.section-wrapper .section {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(234, 248, 255, 0.3);
}

.section-wrapper .section:not(:last-child) {
  margin-bottom: 10px;
}

.section-wrapper .section .figure {
  width: 45%;
  height: 200px;
  margin-left: 5px;
  position: relative;
}

.section-wrapper .section .figure .image-wrap {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 150px;
  border-radius: 3px;
}

.section-wrapper .section .figure .image-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.section-wrapper .section .figure .subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(234, 248, 255, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.section-wrapper .section .article {
  width: 50%;
  padding: 1em 0.5em;
}

.section-wrapper .section .article h2 {
  text-transform: capitalize;
  color: #1f4a6c;
  text-shadow: 1px 3px 1px #eaf8ff;
  font-size: 1.3rem;
}

.section-wrapper .section .article p {
  min-height: auto;
}

@media screen and (max-width: 599px) {
  main header .burger-wrap {
    top: 4em;
  }
  main .section-wrapper .section .article {
    width: 70%;
    padding-left: 1.5em;
  }
}

@media screen and (min-width: 600px) {
  main {
    height: auto;
  }
  main .section-wrapper {
    width: 100%;
    height: 85vh;
  }
  main .section-wrapper .section {
    width: 100%;
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(234, 248, 255, 0.3);
  }
  main .section-wrapper .section:not(:last-child) {
    margin-bottom: 10px;
  }
  main .section-wrapper .section .figure {
    width: 45%;
    height: 40vh;
    margin-left: 5px;
    position: relative;
  }
  main .section-wrapper .section .figure .image-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
  }
  main .section-wrapper .section .figure .image-wrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .section-wrapper .section .figure .subtitle {
    font-size: 1.2rem;
    text-align: center;
    color: #eaf8ff;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  main .section-wrapper .section .article {
    width: 45%;
  }
}

main .shop-landing {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 30vh;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(234, 248, 255, 0.5)), to(rgba(31, 74, 108, 0.4))), url(../primery-images/back.jpg) center top;
  background: linear-gradient(to right, rgba(234, 248, 255, 0.5), rgba(31, 74, 108, 0.4)), url(../primery-images/back.jpg) center top;
  background-size: cover;
}

main .shop-landing .logo-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25%;
  width: 110px;
  height: 110px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(31, 74, 108, 0.1)), to(rgba(41, 41, 41, 0.15)));
  background: linear-gradient(to right, rgba(31, 74, 108, 0.1), rgba(41, 41, 41, 0.15));
  position: absolute;
  top: 3%;
  left: 10%;
}

main .shop-landing .logo-photo img {
  opacity: 0.7;
  border-radius: 20px;
  border: 5px solid transparent;
  height: 100px;
  width: 100px;
}

main .product-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 10vh;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  padding-top: 20vh;
  padding-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .product-container .cards-container {
  width: 90%;
  height: 100%;
  overflow: auto;
}

main .product-container .cards-container .product-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

main .product-container .cards-container .product-cards .card {
  background: rgba(234, 248, 255, 0.3);
  height: 280px;
  border: 2px solid transparent;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .product-container .cards-container .product-cards .card a img {
  width: 300px;
  max-width: 300px;
  max-height: 200px;
  border-radius: 5px;
}

main .product-container .cards-container .product-cards .card p {
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(31, 74, 108, 0.7);
}

main .media {
  pointer-events: all;
}

main .media a {
  color: brown;
}

main .media a:hover > a {
  color: rgba(31, 74, 108, 0.51);
}

.slides-container {
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25vh 0 10vh 0;
}

.slides-container .goto-wrap {
  overflow-y: auto;
  width: 95%;
  height: 70vh;
}

.slides-container .goto-wrap .go-to {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-gap: 20px;
  padding: 0 5px;
}

.slides-container .goto-wrap .go-to .items-goto {
  width: 100%;
  height: 400px;
  background: rgba(31, 74, 108, 0.2);
  border-radius: 5px;
  position: relative;
}

.slides-container .goto-wrap .go-to .items-goto .link {
  width: 90%;
  min-width: 250px;
  height: 300px;
  background: rgba(41, 41, 41, 0.1);
  position: relative;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -95%);
          transform: translate(-50%, -95%);
  display: block;
  border-radius: 5px;
}

.slides-container .goto-wrap .go-to .items-goto .link .image-wrap {
  height: 230px;
  width: 230px;
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.slides-container .goto-wrap .go-to .items-goto .link .image-wrap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.slides-container .goto-wrap .go-to .items-goto .link span {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  font-size: 150%;
}

.slides-container .goto-wrap .go-to .items-goto .link .arrow {
  position: absolute;
  top: 75%;
  left: 80%;
  -webkit-transform: translate(-80%, -75%) rotate(180deg);
          transform: translate(-80%, -75%) rotate(180deg);
  font-size: 1.2rem;
  color: rgba(31, 74, 108, 0.5);
}

.slides-container .goto-wrap .go-to .items-goto .link:hover .arrow {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(140deg);
          transform: translate(-50%, -50%) rotate(140deg);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  font-size: 1.5rem;
  color: rgba(234, 248, 255, 0.5);
}

.test-project {
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 20vh;
  padding-bottom: 15vh;
}

.test-project .test-container {
  width: 100%;
  margin: auto;
  height: auto;
  overflow-y: auto;
}

.test-project .test-container .background {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 248, 255, 0.3)), color-stop(rgba(31, 74, 108, 0.5)), to(rgba(234, 248, 255, 0.3))), url(../photos/losTilosDeMoya.jpg) center top;
  background: linear-gradient(rgba(234, 248, 255, 0.3), rgba(31, 74, 108, 0.5), rgba(234, 248, 255, 0.3)), url(../photos/losTilosDeMoya.jpg) center top;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  padding: 10em 10em;
}

.test-project .test-container .section {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
}

.test-project .test-container .section article {
  background: rgba(41, 41, 41, 0.8);
  color: rgba(234, 248, 255, 0.3);
  text-align: center;
  width: 80%;
  height: 40vh;
  margin: auto;
}

.test-project .test-container .section .window {
  height: 40vh;
  width: 80%;
  background: transparent;
  background-clip: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border: 2em solid rgba(41, 41, 41, 0.8);
}

.test-project .test-container .section .window .inner-window {
  width: 80%;
  height: 80%;
  background: rgba(31, 74, 108, 0.5);
  border: 20px solid rgba(41, 41, 41, 0.8);
  padding: 20px;
  background-clip: content-box;
}

.wrap {
  max-width: 800px;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(44, 44, 44, 0.2);
}

.wrap header {
  position: relative;
}

.wrap header .burger-wrap {
  position: absolute;
  top: 2em;
  right: 2em;
}

.wrap .container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .container .project {
  width: 90%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(44, 44, 44, 0.6);
  border-radius: 10px;
  margin-bottom: 5px;
}

.wrap .container .project .photo-wrap {
  height: 50px;
  width: 50px;
}

.wrap .container .project .photo-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.wrap .container .project .photo-wrap img:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.wrap .container .project p {
  font-size: 1.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: whitesmoke;
}

main {
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(234, 248, 255, 0.2), rgba(31, 74, 108, 0.3), rgba(41, 41, 41, 0.5));
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20vh;
  padding-bottom: 10vh;
}

main header {
  text-shadow: 1px 1px 1px rgba(31, 74, 108, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .footer-wrap .media {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  -webkit-transform: translate(-5rem, -5rem) rotate(90deg);
          transform: translate(-5rem, -5rem) rotate(90deg);
}

main .footer-wrap .media a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem;
  font-size: 2rem;
}

main .footer-wrap .media a:hover {
  color: #1f4a6c;
}

main .footer-wrap .media a .media-icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main .footer-wrap footer {
  -webkit-transform: translate(5rem, -5rem) rotate(90deg);
          transform: translate(5rem, -5rem) rotate(90deg);
  letter-spacing: 2px;
  font-size: 1rem;
  position: fixed;
  bottom: 0.3rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
}

@media screen and (min-width: 600px) {
  main .footer-wrap {
    z-index: 5000;
    max-width: 800px;
    width: 100%;
    height: 10vh;
    left: 50%;
    top: 90vh;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .footer-wrap .media {
    position: absolute;
    -webkit-transform: translate(0) rotate(0deg);
            transform: translate(0) rotate(0deg);
  }
  main .footer-wrap .media a .media-icon {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  main .footer-wrap footer {
    position: absolute;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
}
/*# sourceMappingURL=primary-main.css.map */