@import"primary-globals";
@import"primary-header";
@import"contact-primary";
@import"about-primary";
@import"secondhand-primary";
@import"fotoslides-primary";
@import"test-primary";
@import"test-projects";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: whitesmoke;
}

main {
    width: 100%;
    height: 100%;
    background: radial-gradient( rgba($thirdColor, 0.2), rgba($secondaryColor, 0.3), rgba($primeryColor, 0.5), );
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20vh;
    padding-bottom: 10vh;
    header {
        text-shadow: 1px 1px 1px rgba($secondaryColor, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5000;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-wrap {
        .media {
            position: fixed;
            bottom: 1rem;
            left: 1rem;
            z-index: 2;
            transform: translate(-5rem, -5rem) rotate(90deg);
            a {
                @include transition-ease;
                padding: 0.8rem;
                font-size: 2rem;
                &:hover {
                    color: $secondaryColor
                }
                .media-icon {
                    transform: rotate(-90deg);
                }
            }
        }
        footer {
            transform: translate(5rem, -5rem) rotate(90deg);
            letter-spacing: 2px;
            font-size: 1rem;
            position: fixed;
            bottom: 0.3rem;
            right: 1rem;
            text-align: right;
            padding: 1rem;
            color: set-text-color($primeryColor);
            font-family: 'Poppins', sans-serif;
            z-index: 2;
        }
    }
}

@include media-sd {
    main {
        .footer-wrap {
            z-index: 5000;
            max-width: 800px;
            width: 100%;
            height: 10vh;
            left: 50%;
            top: 90vh;
            transform: translate(-50%, 0);
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .media {
                position: absolute;
                transform: translate(0) rotate(0deg);
                a {
                    .media-icon {
                        transform: rotate(0deg);
                    }
                }
            }
            footer {
                position: absolute;
                transform: translate(0) rotate(0);
            }
        }
    }
}