header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    transition: background 250ms ease-in;
    z-index: 999;
    width: 100%;
    height: 10vh;
    background: var(--background);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.nav-scrolled {
        --text: #333;
        --text-inverse: #f4f4f4;
        --background: #f4f4f4;
        box-shadow: 0 3px 20px rgba(black, 0.2);
    }
    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        .burger-wrap {
            height: 40px;
            width: 40px;
            display: flex;
            position: absolute;
            right: 5em;
            top: 2rem;
            cursor: pointer;
            pointer-events: all;
            z-index: 1;
            .burger {
                width: 38px;
                height: 7px;
                background-color: $primeryColor;
                border-radius: 2px;
                @include transition-ease;
                position: absolute;
                top: 0;
                left: 0;
                &::before {
                    content: '';
                    width: 38px;
                    height: 7px;
                    background-color: $primeryColor;
                    border-radius: 2px;
                    cursor: pointer;
                    pointer-events: all;
                    z-index: 1;
                    @include transition-ease;
                    position: absolute;
                    left: 0;
                    top: 13px;
                }
                &::after {
                    content: '';
                    width: 38px;
                    height: 7px;
                    background-color: $primeryColor;
                    border-radius: 2px;
                    cursor: pointer;
                    pointer-events: all;
                    z-index: 1;
                    @include transition-ease;
                    position: absolute;
                    left: 0;
                    top: -13px;
                }
                &.open {
                    transform: rotate(1080deg);
                    background: transparent;
                    @include transition-ease;
                    &::before {
                        transform: rotate(-45deg) translate(5px, -14px);
                        width: 41px;
                        background: linear-gradient( to right, rgba($secondaryColor, 0.7), rgba($primeryColor, 0.9), rgba($secondaryColor, 0.7));
                        @include transition-ease;
                    }
                    &::after {
                        width: 41px;
                        transform: rotate(45deg) translate(3px, 14px);
                        background: linear-gradient( to right, rgba($secondaryColor, 0.7), rgba($primeryColor, 0.9), rgba($secondaryColor, 0.7));
                        @include transition-ease;
                    }
                }
            }
        }
    }
    .nav {
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 1000px;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.93;
        visibility: hidden;
        &.open {
            visibility: visible;
        }
        .nav-menu {
            position: absolute;
            left: 0;
            top: 45vh;
            right: 0;
            z-index: 5000;
            display: flex;
            // flex-wrap: wrap;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            background: $primeryColor;
            list-style: none;
            padding-right: 1rem;
            @include transition-ease;
            transform: translateY(-100%);
            &.open {
                transform: translateY(0);
            }
            .items {
                transform: translateX(100vw);
                @include transition-ease;
                &.open {
                    transform: translateX(0);
                }
                &.active>a {
                    color: $secondaryColor;
                }
            }
            .link {
                z-index: 5000;
                display: inline-block;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding: 0.5rem 0.5rem;
                font-weight: 300;
                @include transition-ease;
                @include transition-hover;
                color: $thirdColor;
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
    @for $i from 1 through 6 {
        .nav-menu {
            .items:nth-child(#{$i}) {
                transition-delay: ($i * 0.1s) + 0.3s;
            }
        }
    }
}

@include media-sd {
    header {
        text-shadow: 1px 1px 1px rgba($secondaryColor, 0.8);
        .header-wrap {
            .burger-wrap {
                display: none;
            }
            .nav {
                visibility: visible;
                height: 10vh;
                .nav-menu {
                    transform: translateY(0);
                    height: 10vh;
                    background: transparent;
                    top: 0;
                    display: flex;
                    flex-direction: row;
                    .items {
                        transform: translateX(0);
                        &:not(:last-of-type) {
                            padding-right: 1rem;
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }
    }
}

// @include media-md {
//     header {
//         text-shadow: 1px 1px 1px rgba($secondaryColor, 0.8);
//         .header-wrap {
//             .burger-wrap {
//                 display: none;
//             }
//             .nav {
//                 visibility: visible;
//                 height: 10vh;
//                 .nav-menu {
//                     transform: translateY(0);
//                     height: 10vh;
//                     background: transparent;
//                     .items {
//                         transform: translateX(0);
//                         .link {
//                             font-size: 1.5rem;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }